{% extends 'base.html' %}
{% block content %}
    <h1>Вход</h1>
    <form class="px-4 py-3 w-50 mx-auto" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
        {% if has_error %}
            <p class="form-error">Неверное имя пользователя или пароль.</p>
        {% endif %}
        <div class="form-group">
      <label for="login_input">Email address</label>
      <input type="text" class="form-control" name="username" id="login_input" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
    <button type="submit" class="btn mx-auto btn-primary">Sign in</button>
  </form>
{% endblock %}