{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li><a href="{% url "accounts:user_update" user_obj.pk %}">Обновить профиль</a></li>
        <li><a href="{% url 'accounts:user_change_password' user_obj.pk %}">Поменять пароль</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="object">
        {% if user_obj.profile.avatar %}
        <img src="{{ user_obj.profile.avatar.url }}" alt="">
        {% endif %}
     <h2>Профиль: {{ user_obj.username }}</h2>
    <div class="row">
        <div class="col-6">
            <p class="d-block">Имя:</p>
        </div>
        <div class="col-6">
            <p><b>{{ user_obj.first_name }}</b></p>
        </div>

    </div>
        <div class="row ">
        <p class="col-6">Фамилия:</p>
        <p class="col-6"><b>{{ user_obj.last_name }}</b></p>
    </div>
        <div class="row ">
        <p class="col-6">Email:</p>
        <p class="col-6"><b>{{ user_obj.email }}</b></p>
        </div>

        <div class="row ">
        <p class="col-6">Дата рождения:</p>
        <p class="col-6"><b>{{ user_obj.profile.birth_date|date:"Y-m-d H:i:s" }}</b></p>
        </div>
    </div>
{% endblock %}