{% extends 'base.html' %}
{% load widget_tweaks %}
{% block menu %}
    <li><a href="{% url 'issue_create' %}">Создать задачу</a></li>
    <li><a href="{% url 'projects' %}">Список проектов</a></li>
    <li><a href="{% url 'statuses' %}">Список статусов</a></li>
    <li><a href="{% url 'types' %}">Список типов</a></li>
{% endblock %}
{% block content %}
    {% include 'partial/search_form.html' %}
    <h1>Трекер задач</h1>
    {% for issue in issues %}
        {% include 'issue/issue_list.html' %}
    {% endfor %}
    {% include 'partial/paginator.html' %}
{% endblock %}