<div class="object">
            <div class="row">
                <div class="left col-10 d-flex justify-content-center">
                    <h5><a href="{% url 'issue_view' issue.pk %}">{{ issue.summary }}</a></h5>
                </div>
                <div class="right col-2 d-flex justify-content-end">
                    <p><a href="{% url 'issue_update' issue.pk %}"><i class="far fa-edit"></i></a></p>
                    <p><a href="{% url 'issue_delete' issue.pk %}"><i class="far fa-trash-alt"></i></a></p>
                </div>
            </div>
        <div class="row d-flex  mt-5">
        <p class="text col-6">Тип задачи: {{ issue.type }}</p>
            <p class="text col-6 align-self-end">Статус задачи: {{ issue.status }}</p>
        </div>
        <p class="text col-12 align-self-center">Дата создания: {{ issue.created_at|date:'Y-m-d H:i:s' }}</p>
        </div>